dash==1.19.0
dash-bootstrap-components==0.11.1
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-extensions==0.0.44
gunicorn==20.0.4
Jinja2==2.11.3
itsdangerous==1.1.0
pandas==1.0.5
requests==2.26.0
Flask==1.1.2
redis==4.0.2